# --- Java & Maven ---
target/
*.class

# --- IntelliJ ---
.idea/
*.iml
out/
gen/

# --- VS Code ---
.vscode/

# --- Fichiers système et Logs ---
.DS_Store
Thumbs.db
*.log

# --- Fichiers locaux Maven ---
.mvn/